@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.page {
  width: 100%;
  position: absolute;
  justify-content: center;
  top: 25vh;
}
.MuiInputBase-input.MuiOutlinedInput-input.MuiInputBase-inputMarginDense.MuiOutlinedInput-inputMarginDense{
  opacity: 0.3;

}
h1 {
  font-family: "Montserrat", sans-serif;
  font: normal 14pt Montserrat;
  align-items: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
h2 {
  color: gray;
  font-family: "Montserrat", sans-serif;
  font: normal 10pt Montserrat;
  align-items: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.outlined-basic {
  align-items: center;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.campos {
  position: absolute;
  right: 60vh;
  top: 20vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.MuiFormControl-root.MuiTextField-root.campinho {
  margin-bottom: 12px;
  width: 40vh;
}
.btn{
  width: 30vh;
  justify-content: center;
  position: absolute;
  right: 58vh;
  bottom:-40vh;
  
 
  .p{
    justify-content: center;
    position: absolute;
    left: 100px;
  }
}