.PDF{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
    padding: 10px 16px;
    font-size: 17px;
    background-color: transparent;
    border: 1px solid #61dafb;
    border-radius: 6px;
    color: #61dafb;
    font-weight: bold;
    transition: ease-in 0.3s;
  }
  .btn:hover {
    background-color: #61dafb;
    color: #fff;
    cursor: pointer;
  }