.thesesPost-root{
    width: 100%;
    height: 100%;
}

.thesesPost-content{
    display: flex;
    flex-direction: row;
    height: 100%;
}
.thesesPost-grid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    padding: 50px;

        h5{
        font-family: "Montserrat", sans-serif;
        font: normal 25pt Montserrat;
        display: flex;
        justify-content: center;
        color:black;
        }
}
.post-Content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.MuiFormControl-root.MuiTextField-root.studentName {
    margin-bottom: 25px;
    width: 45%;
    background-color: rgba(255, 255, 255, 0.933);
    border: 1px solid #f3eeee;
    box-sizing: border-box;
    border-radius: 6px;
    display: flex;
    justify-content: center;
  }

  .studentName-grid{
      display: flex;
      justify-content: center;
  }

  @media (max-width: 680px){
      .MuiFormControl-root.MuiTextField-root.studentName {
        width: max-content;
      }
  }