.pdfCertificate-image {
  position: absolute;
  display: flex;
  background-image: initial;
  opacity: 15%;
  align-content: center;
  justify-content: flex-end;
  background-repeat: no-repeat;

  width: 60%;
  height: 40%;
  margin-top: 10%;
}

.pdfrenderCertificate-title {
  font-size: 48pt;
  font-weight: bold;
}

.pdfCertificate-titleFormated {
  font-weight: bold;
  text-transform: uppercase;
}
