$corFundo: white;
$azulPadrao: #04064B;

body {
  margin: 0px;
}
.Login-externalDiv {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Login-screen {
  height: 85.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $corFundo;
}
.Login {
  background: $azulPadrao;
  width: 35%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #000;
  .Login-title {
    text-align: center;
    margin-bottom: 4vh;
    font-size: clamp(20px, 1em + 1vw, 40px);
    color: #fff;
    font-weight: normal;
  }
}
.Login-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Login-button1 {
    button {
      height: 7vh;
      max-height: 60px;
      width: 22vw;
      border: 0;
      background-color: #b00910;
      color: #ffffff;
      border-radius: 8px;
      box-shadow: 2px 3px 10px #060838;
      font-size: clamp(20px, 1em + 1vw, 40px);
    cursor: pointer;
  }
  }
}
.Login-inputs {
  display: flex;
  flex-direction: column;
  width: 22vw;
}
.Login-link{
  margin-top: 2.5vh;
  font-size: 2vh;
  color: white;
}

@media screen and (max-width: 1400px) {
  .Login-screen {
    height: max-content;
  }
  .Login {
    width: 90%;
    max-width: 400px;
    height: max-content;
    margin: 20px 5%;
    .Login-title {
      margin-top: 4vh;
      font-size: 2em;
    }
  }
  .Login-inputs {
    width: 90%;
    max-width: 240px;
  }
  .Login-buttons {
    width: 90%;
    .Login-button1 {
      width: 100%;
      max-width: 240px;
      button {
        margin: 10% 0;
        width: 100%;
        height: 50px;
        font-size:1.5em;
      }
    }
  }
  .Login-link {
    align-items: flex-start;
    margin-bottom: 2.5vh;
    font-size: 1em;
  }
}