$corFundo: #c5d0db;
$azulPadrao: #1d2d57;

body {
  margin: 0px;
}
.Login-externalDiv {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Login-screen {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $corFundo;
}
.Login {
  background: $azulPadrao;
  width: 35%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 1px 1px 5px #000;
  .Login-title {
    text-align: center;
    margin-bottom: 4vh;
    font-size: clamp(20px, 1em + 1vw, 40px);
    color: #fff;
    font-weight: normal;
  }
}
.Login-botoes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .Login-button1 {
    button {
      height: 7vh;
      width: 22vw;
      border: 0;
      background-color: #b00910;
      color: #ffffff;
      border-radius: 12px;
      text-shadow: 0em 0.3em 0.3em #000;
      box-shadow: 2px 3px 10px #000;
    }
  }
  .Login-button2 {
    button {
      height: 7vh;
      width: 15vw;
      border: 0;
      border-radius: 7px;
      background-color: #000;
      color: #ffffff;
      border-radius: 7px;
      text-shadow: 0em 0.3em 0.3em #000;
      box-shadow: 1px 1px 5px #000;
    }
    margin-bottom: 4.5vh;
  }
}
.Login-inputs {
  display: flex;
  flex-direction: column;
}
.Login-link{
  align-items: flex-start;
  margin-bottom: 2.5vh;
  font-size: 2vh;
}
@media screen and (max-width: 1000px) {
  .Login {
    background: #fff;
    width: 70vh;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 1px 1px 5px #000;
    margin-left: 5%;
    margin-right: 5%;
    .Login-title {
      text-align: center;
      margin-bottom: 4vh;
      color: black;
      font-weight: normal;
    }
  }
  .Login-botoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    .Login-button1 {
      button {
        height: 7vh;
        width: 35vh;
        border: 0;
        background-color: #b00910;
        color: #ffffff;
        border-radius: 12px;
        text-shadow: 0em 0.3em 0.3em #000;
        box-shadow: 2px 3px 10px #000;
        font-size:2vh;
      }
    }
    .Login-button2 {
      button {
        height: 7vh;
        width: 20vh;
        border: 0;
        background-color: #000;
        color: #ffffff;
        border-radius: 7px;
        text-shadow: 0em 0.3em 0.3em #000;
        box-shadow: 1px 1px 5px #000;
        font-size:2vh;
      }
      margin-bottom: 4.5vh;
    }
  }
  .Login-link {
    align-items: flex-start;
    font-size: 2vh;
  }
}