.defenseReport-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.defenseReport-container {
  display: grid;
  width: 100%;
  height: 100%;
}

.defenseReport-box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;
  margin-bottom: 25px;
}

.defenseReport-title {
  font-size: 20pt;
  margin-bottom: 20px;
}

.defenseReport-line {
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-right: 5px;
}

@media (max-width: 680px){
  .defenseReport-line{
    flex-direction: column;
  }
}