$corFundo: #c7d1dc;
$azulPadrao: #1d2d57;
body {
  margin: 0px;
}
.Tela-ps {
  background-color: #ffff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  h1 {
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    color: $azulPadrao;
    font-weight: 500;
    font-size: 50px;
  }
}
.form_dis_ps_box_title{
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, $azulPadrao,#1037a1);
  margin:2%;
  height: 7%;
}
.form_dis_ps_title{
  color: white;
  margin-left: 1%;
  font-family: Montserrat;
  font-size: 2.0em;
}
.form_dis_ps_line{
  background-color: #ffff;
  display: flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1%;
}
.form_dis_ps_input{
  margin-right: 5%;
}


.form-dis-col-ps {
  background-color: #ffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.divButton-ps {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  margin-top: 0.2em;
  margin-bottom: 20px;
  button {
    height: 3rem;
    width: 30%;
    border: 0;
    border-radius: 7px;
    background-color: $azulPadrao;
    color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
    text-shadow: 0em 0.3em 0.3em #000;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 3rem;
  }
}
