.studentList-Root {
  width: 100%;
}
.studentList-Content {
  height: 100%;
  display: flex;
  justify-content: space-between;
}
.studentList-LeftContainer {
  padding: 50px;
  width: 100%;
  h1 {
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    color: #1d2d57;
    font-weight: 500;
    font-size: 50px;
  }
}
.studentList-Filters {
  width: 100%;
}
.studentList-FiltersDIVInside {
  display: flex;
  width: 98%;
  margin-left: 2%;
  justify-content: space-between;
}

.gridAll {
  border: 1px solid #C4C4C4;
  border-radius: 0px 0px 8px 8px;
  padding: 10px;
  box-shadow: 0px 3px 5px 0px #C4C4C4;
  overflow: hidden;
}

.gridStudents{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px #c4c4c4;
  overflow: hidden;
  font-size: 12pt;
}

.gridName{
  margin-top: 5px;
  margin-bottom: 10px;
}

.gridEdit{
  display: flex;
  flex-direction: column;
}
.studentList-Filters {
  background-color: #1d2d57;
  justify-content: space-around;
  border-radius: 8px 8px 0 0;
}

@media (max-width:680px){
  .studentList-LeftContainer {
    padding: 50px 5px;
    h1 {
      font-size: 35px;
    }
  }

  .studentList-Filters{
    flex-wrap: wrap;
  }
  .studentList-FiltersDIVInside {
    .MuiInputBase-input {
      height: 10px;
      min-height: 0px;
    }
  
    .MuiSelect-selectMenu {
      height: 10px;
      min-height: 0px;
    }
  }
}

@media (max-width:460px){
  .studentList-LeftContainer {
    h1 {
      font-size: 25px;
    }
  }

  .studentList-FiltersDIVInside {
    .MuiInputLabel-filled {
      font-size: smaller;
    }
  }
}