.studentList-Root {
  height: 100%;
  width: 100%;
}
.studentList-Content {
  height: max-content;
  display: flex;
  justify-content: space-between;
}
.studentList-LeftContainer {
  padding: 50px;
  width: 100%;
  h1 {
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    color: #1d2d57;
    font-weight: 500;
    font-size: 50px;
  }
}
.studentList-Filters {
  display: flex;
  justify-content: space-between;
}

.gridAll{
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px #C4C4C4;
  overflow: hidden;
}

.gridStudents{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px #c4c4c4;
  overflow: hidden;
  font-size: 12pt;
}

.gridName{
  margin-top: 5px;
  margin-bottom: 10px;
}

.gridEdit{
  display: flex;
  flex-direction: column;
}
.studentList-Filters {
  background-color: #1d2d57;
  justify-content: space-around;
  border-radius: 6px;
}

@media (max-width:680px){
  .studentList-Filters{
    flex-wrap: wrap;
  }
}