@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.BdMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.BdTitle {
  height: 20%;
  font-size: 35px;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  color: #061744;
  margin: 0px 50px 0px 50px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.BdBoxFather {
  margin: 0px 50px 5px 50px;
  min-height: 300px;
  height: auto;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px #C4C4C4;
}
.BdBox {
  max-height: 280px!important;
  overflow: auto;
}
.BdBoxProf {
  max-height: 350px!important;
  overflow: auto;
}
.BdBoxTitle {
  height: 25%;
  background: #B6B9D3;
  border-radius: 5px 5px 0px 0px;
  font-size: 28px;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #061744;
}
.BdTitleNumber{
  display: flex;
  width: 50%;
}
.BdSubTitle{
  width: 100%;
  display: flex;
  color: white;
}
.BdDivGrid {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.BdInput{
  display: none;
}
.BdInputReal{
  display: flex;
  width: 16rem;
  align-items: center;
  .MuiSelect-selectMenu{
    padding: 24px 32px 24px 12px;
  }
}

@media (max-width: 769px){

  .BdTitle {
    justify-content: center;
  }

  .BdBox{
    max-height: 240px!important;
    margin: 0px;
  }

  .BdBoxFather{
    height: auto;
    min-height: 300px;
    margin: 0px 0px 20px 0px;
  }

  .BdDivGrid{
    padding: 10px;
  }

  .BdBoxTitle{
    font-size: 15px;
    justify-content: inherit;
  }
  .BdInputReal{
    width: 40%;
    margin-left: 10%;
    .MuiSelect-selectMenu{
      font-size: 15px;
      padding: 12px 32px 12px 12px;
    }
  }

  .MuiInputBase-root.MuiFilledInput-root.MuiFilledInput-underline.MuiInputBase-formControl.BdInputReal{
    width: 10rem;
  }

  .isoPsIcon{
    width: 30px;
    min-width: 30px;
  }

  .BdSubTitle{
    width: max-content;
  }

  .BdTitle{
    font-size: 28px;
  }
}

@media (max-width: 400px) {
  .isoPsIcon{
    display: none;
  }
}
