@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.BdMenu {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.BdTitle {
  height: 20%;
  font-size: 35px;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  // justify-content: center;
  color: #061744;
  margin: 0px 50px 0px 50px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.BdBoxFather {
  margin: 0px 50px 30px 50px;
  height: 410px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px #C4C4C4;
}
.BdBox {
  max-height: 307px!important;
  overflow: auto;
}

.BdBoxTitle {
  height: 25%;
  background: #B6B9D3;
  border-radius: 5px 5px 0px 0px;
  font-size: 28px;
  font-family: Montserrat;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #061744;
}
.BdTitleNumber{
  display: flex;
  width: 50%;
}
.BdSubTitle{
  width: 100%;
  display: flex;
  color: white;
}
.BdDivGrid {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.BdInput{
  display: none;
}
.BdInputReal{
  display: flex;
  align-items: center;
}

@media (max-width: 769px){

  .BdBox{
    margin: 0px;
  }

  .BdDivGrid{
    padding: 10px;
  }

  .BdBoxTitle{
    font-size: 15px;
    justify-content: inherit;
  }

  .BdInputReal{
    width: auto;
  }

  .isoPsIcon{
    display: none;
  }

  .BdSubTitle{
    width: max-content;
  }

  .BdTitle{
    font-size: 28px;
  }
}
