$corFundo: #c5d0db;
$azulPadrao: #1d2d57;

body {
  margin: 0px;
}
.BDAtela {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.BDAtituloPrincipal {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Montserrat;
  font-size: 42px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.BDAtituloSecundario {
  font-family: Montserrat;
  font-size: 32px;
  margin-left: 5%;
}
.BDAinscritos {
  font-family: "calibri";
  background-color: #DCDCDC;
  border-radius: 5px 5px 0px 0px;
  max-height: 400px;
  width: 45%;
  padding:  10px;
  overflow: auto;
}
.BDAaba{
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}