@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.isoPsListItem {
  display: flex;
  align-items: center;
}
.isoPsDivItem {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  width: 28%;
  max-width: 28%;

  p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  @media (max-width: 650px){
    width: 43%;
    max-width: 43%;
    font-size: 12pt;
  }

  @media (max-width: 450px){
    width: 25%;
    font-size: 9pt;
  }

  @media (max-width: 350px){
    width: 30%;
    font-size: 7pt;
  }
}
.isoPsDivButtons {
  display: flex;
  align-items: center;
  width: 37%;
  justify-content: space-around;
  
  @media (max-width: 650px){
    width: 32%;
  }

  @media (max-width: 450px){
    width: 40%;
    min-width: 125px;
  }

  @media (max-width: 450px){
    width: 35%;
    min-width: 0px;
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.isoPsDenyButton{
  @media (max-width: 650px){
    font-size: 8pt;
    width: 64px;
    min-width: 0px;
  }

  @media (max-width: 450px){
    font-size: 6pt;
    width: 58px;
  }

  @media (max-width: 350px){
    width: 45px;
    height: 20px;
    font-size: 5pt;
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.isoPsConfirmButton{
  @media (max-width: 650px){
    font-size: 8pt;
    width: 64px;
    min-width: 0px;
  }

  @media (max-width: 450px){
    font-size: 6pt;
    width: 58px;
  }

  @media (max-width: 350px){
    width: 45px;
    height: 20px;
    font-size: 5pt;
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.isoPsDefermentStatus{
  @media (max-width: 650px){
    font-size: 8pt;
    width: 64px;
    min-width: 0px;
  }

  @media (max-width: 450px){
    font-size: 6pt;
    width: 58px;
  }

  @media (max-width: 350px){
    width: 45px;
    height: 20px;
    font-size: 5pt;
  }
}

.isoPsConfirmButton {
  background: green!important;
  color: white!important;
}
.isoPsDenyButton {
  background: red!important;
  color: white!important;
}
.isoPsDivButtonsDeferido {
  display: flex;
  align-items: center;
  margin-right: 50%;
}
.isoPsDefermentStatus {
  background: #020896!important;
  color: white!important;
}
.isoPsLinkButton {
  color: black;
  width: 33%;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}
.isoPsIcon {
  margin: 0px 15px 0px 15px;
}

.divButtonSituationStudent {
  display: flex;
  justify-content: center;
  width: 35%;

  @media (max-width: 650px){
    width: 25%;
  }

  @media (max-width: 450px){
    width: 35%;
  }
}

.buttonSituationStudent {
  background-color: transparent;
  border: none;
  font-size: 18px;

  @media (max-width: 650px){
    font-size: 12pt;
  }

  @media (max-width: 450px){
    font-size: 9pt;
  }

  @media (max-width: 350px){
    font-size: 7pt;
  }
}

@media (max-width: 680px){
  .isoPsListItem{
    margin-bottom: 10px;
    width: 100%;
  }

}