@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.isoPsListItem {
  display: flex;
  align-items: center;
}
.isoPsDivItem {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  width: 28%;

  @media (max-width: 650px){
    width: 20%;
    font-size: 12pt;
  }
}
.isoPsDivButtons {
  display: flex;
  align-items: center;
  width: 39%;
  justify-content: space-around;
  
  @media (max-width: 650px){
    width: 50%;
    justify-content: space-between;
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.isoPsDenyButton{
  @media (max-width: 650px){
    font-size: 8pt;
    width: 50px;
  }
}

.MuiButtonBase-root.MuiButton-root.MuiButton-contained.isoPsConfirmButton{
  @media (max-width: 650px){
    font-size: 8pt;
    width: 50px;
  }
}

.isoPsConfirmButton {
  background: green!important;
  color: white!important;
}
.isoPsDenyButton {
  background: red!important;
  color: white!important;
}
.isoPsDivButtonsDeferido {
  display: flex;
  align-items: center;
  margin-right: 50%;
}
.isoPsDefermentStatus {
  background: #020896!important;
  color: white!important;
}
.isoPsLinkButton {
  color: black;
  width: 33%;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}
.isoPsIcon {
  margin: 0px 15px 0px 15px;
}

.divButtonSituationStudent {
  display: flex;
  justify-content: center;
  width: 35%;

  @media (max-width: 650px){
    justify-content: flex-end;
  }
}

.buttonSituationStudent {
  background-color: transparent;
  border: none;
}