@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.isoPsListItem {
  display: flex;
  align-items: center;
}
.isoPsDivItem {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-family: Montserrat;
  width: 28%;
}
.isoPsDivButtons {
  display: flex;
  align-items: center;
  width: 39%;
  justify-content: space-around;
}
.isoPsConfirmButton {
  background: green!important;
  color: white!important;
}
.isoPsDenyButton {
  background: red!important;
  color: white!important;
}
.isoPsDivButtonsDeferido {
  display: flex;
  align-items: center;
  margin-right: 50%;
}
.isoPsDefermentStatus {
  background: #020896!important;
  color: white!important;
}
.isoPsLinkButton {
  color: black;
  width: 33%;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}
.isoPsIcon {
  margin: 0px 15px 0px 15px;
}

.divButtonSituationStudent {
  display: flex;
  justify-content: center;
  width: 35%;
}

.buttonSituationStudent {
  background-color: transparent;
  border: none;
}

@media (max-width: 680px){
  .isoPsListItem{
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
  }

}