.modal{
  position: fixed;
  top: 0;
  bottom:0;
  right:0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 99;
  .container{
    position: fixed;
    max-width: 800px;
    top: 12%;
    left:0;
    right: 0;
    margin: 0 auto;
    padding:  4em 2rem;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
  }
  h2{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1.2em;
    color: #121212;
  }
  p{
    white-space: pre-wrap;
  }
}
.close{
  background-color: #000;
  border: 0;
  color: #FFF;
  position: absolute;
  top:15px;
  left:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
  border-radius: 5px;
  .svg{
    margin-right: 5px;
  }
}
.close:hover {
 cursor: pointer;
}
.rowGrid{
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}
.row{
  margin-bottom: 1em;
}
.modalCloseIcon {
  margin-right: 5px;
}