.modal{
  position: fixed;
  top: 0;
  bottom:0;
  right:0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 99;
  .infoModalcontainer{
    position: fixed;
    max-width: 800px;
    top: 3%;
    bottom: 3%;
    left:0;
    right: 0;
    margin: auto;
    padding:  4em 2rem;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
    overflow: auto;
  }
  .container{
    height: 50;
  }
  h2{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1.2em;
    color: #121212;
  }
  p{
    white-space: pre-wrap;
  }
}
.modalIsolatedCandidate{
  position: fixed;
  top: 0;
  bottom:0;
  right:0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 99;
  .infoModalcontainerIsolatedCandidate{
    position: fixed;
    max-width: 950px;
    height: 60%;
    top: 3%;
    bottom: 3%;
    left:0;
    right: 0;
    margin: auto;
    padding:  4em 2rem;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
    @media (max-width: 450px){
      height: 80%;
    }
  }
  .container{
    height: 50;
  }
  h2{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1.2em;
    color: #121212;
  }
  p{
    white-space: pre-wrap;
  }
}
.divInfoModalStudentRedirect{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}
.InfoModalStudentRedirect {
  background-color: green;
  border: none;
  width: 50%;
  height: 40px;
  border-radius: 5px;
  font-size: 1.2em;
}
.close{
  background-color: #000;
  border: 0;
  color: #FFF;
  position: absolute;
  top:15px;
  left:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
  border-radius: 5px;
  .svg{
    margin-right: 5px;
  }
}
.close:hover {
 cursor: pointer;
}
.rowGrid{
  margin-bottom: 1em;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  text-align: start;
  font-weight: normal;
  b{
    font-weight: bold;
  }
}
.rowGridIsolatedCandidate{
  margin-bottom: 1em;
  font-size: 0.9em;
  display: grid;
  grid-template-columns: 1.3fr 0.8fr 1.2fr;
  div{
    padding: 0px 2px;
  }
}
.row{
  display: flex;
  margin-bottom: 1em;
  font-weight: normal;
  b{
    font-weight: bold;
    margin-right: 3px;
  }
}
.modalCloseIcon {
  margin-right: 5px;
}

@media (max-width: 465px){
  .infoModalcontainer{
    display: flex;
    flex-direction: column;
    overflow: auto;
    font-size: small;
  }
  .rowGrid{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .InsideRowGridModal{
    padding-bottom: 10px;
  }
}