.linhaInscrito {
  display: flex;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}
.nomeInscrito {
  font-family: "calibri";
  font-size: 26px;
  margin-top: 15px;
  margin-left: 10px;
}
.dots {
  margin-top: 17px;
  margin-left: 10px;
}
.trash {
  margin-top: 20px;
  margin-left: 10px;
}
.linkDocumentos {
  margin-top: 25px;
  margin-left: 60px;
} 