.linhaInscrito {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
}
.inscritoPSicon{
  width: 12%;
}
.nomeInscrito {
  cursor: s-resize;
  font-family: "calibri";
  font-size: 22px;
  width: 33%;
}
.trash {
  cursor: pointer;
  width: 5%;
}
.linkDocumentos {
  width: 50%;
  text-align: right;
} 