.defenseContent{
    width: 100%;
    height: 100%;
    display: grid;
}

.defenseContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subTitle-line{
    background-color:#061744;
    height: 3px;
    width: 48%;
    margin-bottom: 35px;
  }

.defenseTitle{
    color: rgba(0, 0, 0, 0.822);
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 38px;
    margin-bottom: 10px;
}

.defenseGrid{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    margin-top: 10px;
}

.defenseBlock{
    display: flex;
    flex-direction: column;
    background-color: #F1F1F1;
    justify-content: center;
    align-content: center;
    padding: 10px;
    margin-bottom: 25px;
    button {
        display: block;
        height: 3rem;
        width: 20%;
        border: 0;
        border-radius: 7px;
        background-color: #1d2d57;
        color: #ffffff;
        border-radius: 5px;
        font-size: 15px;
        font-weight: 200;
        margin-bottom: 2rem;
        cursor: pointer;
    }
}

.divButton{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form_SP_input{
    margin-right: 8px;
    margin-left: 8px;
}

.form_SP1_input{
    width: 43rem;
    margin-left: 8px;
}


@media (max-width: 680px){
    .defenseBlock{
        width: max-content;
    }
    .defenseGrid{
        flex-direction: column;
    }
    
    .form_SP1_input{
        width: initial;
    }
    
    .defenseBlock button{
        width: 100%;
    }
}