.pdfrender-block {
  display: block;
  page-break-before: always;
}

.pdfrender-external-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  padding: 5%;
}
.pdfrender-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:75%;
  height: 20vh;
}

.pdfrender-subtitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-family: 'Times New Roman', Times, serif;;
    text-align: center;
    font-weight: bold;
    font-size: 14pt;
}

.pdfrender-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 5%;
  margin-top: 4%;

  .pdfrender-title {
      font-family: 'Times New Roman', Times, serif;;
      text-align: center;
      font-weight: bold;
      font-size: 36pt;
  }
  .pdfrender-dedicate {
      font-family: 'Times New Roman', Times, serif;
      font-size: 100px;
      width: 70%;
      margin: 4%;
      text-align: center;
      font-size: 22pt;
  }

  .pdfrender-dedicate-bench-title::first-line {
    font-family: 'Times New Roman', Times, serif;
      font-size: 100px;
      width: 70%;
      margin: 4%;
      text-align: center;
      font-size: 22pt;
    text-decoration: underline black;
  }

  .pdfrender-dedicate-bench {
    font-family: 'Times New Roman', Times, serif;
      font-size: 100px;
      width: 70%;
      margin: 4%;
      text-align: center;
      font-size: 22pt;
  }

  .pdfrender-dedicate-advisor {
    font-family: 'Times New Roman', Times, serif;
      font-size: 100px;
      font-weight: bold;
      width: 70%;
      margin: 4%;
      text-align: center;
      font-size: 14pt;     
  }

  .pdfrender-last-infos {
    font-family: 'Times New Roman', Times, serif;
      font-size: 100px;
      font-weight: bold;
      width: 70%;
      margin: 4%;
      text-align: center;
      font-size: 20pt;

      p {
        display: block;
        page-break-before: always;
      }
      p:last-child {
        page-break-before: avoid;
        page-break-after: avoid;
      }
  }
}


.print-button {
  display: flex;
  flex-direction: row;
  background: linear-gradient(45deg, #04133a, #092161, #04133a);

  .print-button-text {
      display: flex;
      flex-direction: row;
      cursor: pointer;
      align-items: center;
      color: white;
      padding: 1% 2%;

      .print-icon {
          margin: 0 5px 0 5px;
      }
  }
}