.compoSP-externalDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: montserrat;
  width: 60%;
  background-color: white;
  padding: 1%;
  padding-left: 3%;
  padding-right: 5%;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba($color: #000000, $alpha: 0.23));
  margin-bottom: 2%;
}
.compoSP-principalTitle{
  font-size: 1.2em;
  cursor: pointer;
}
.compoSP-buttonAndamento{
  display: flex;
  align-items: center;
  justify-content: center;
  width:30%;
  height: 80%;
  font-size: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #316B28;
  cursor: default;
}
.compoSP-buttonFinalizado{
  display: flex;
  align-items: center;
  justify-content: center;
  width:30%;
  height: 80%;
  font-size: 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: #843125;
  cursor: default;
}
@media screen and (max-width: 1000px) {
  .compoSP-externalDiv{
    width: 90%;
    margin-bottom: 8%;
  }
  .compoSP-buttonFinalizado{
    padding: 10px;
  }
.compoSP-buttonAndamento{
  padding: 10px;
}
}