.compoSP-externalDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: montserrat;
  width: 65%;
  background-color: white;
  padding: 1%;
  padding-left: 3%;
  padding-right: 5%;
  border-radius: 3px;
  filter: drop-shadow(0px 4px 4px rgba($color: #000000, $alpha: 0.23));
  margin-bottom: 2%;
}
.compoSP-principalTitle{
  font-size: 1.9em;
  cursor: pointer;
}
.compoSP-buttonAndamento{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-width: 30%;
  height: 55px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  background-color: #316B28;
  cursor: default;
}
.compoSP-buttonFinalizado{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  min-width: 30%;
  height: 55px;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  color: #ffffff;
  background-color: #843125;
  cursor: default;
}
.buttonInfoSPname{
  display: flex;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
  font-size: 0.95em;
}
.PSLinkButton {
  color: black;
  width: 33%;
  display: flex;
  justify-content: center;
  font-family: Montserrat;
}

@media screen and (max-width: 1500px){
  .compoSP-principalTitle{
    font-size: 1.6em;
  }

  .compoSP-buttonAndamento{
    height: 48px;
    font-size: 16px;
    border-radius: 5px;
  }

  .compoSP-buttonFinalizado{
    height: 48px;
    font-size: 16px;
    border-radius: 5px;
  }
}

@media screen and (max-width: 1050px){
  .compoSP-principalTitle{
    font-size: 1.2em;
  }

  .compoSP-buttonAndamento{
    height: 36px;
    font-size: 12px;
  }

  .compoSP-buttonFinalizado{
    height: 36px;
    font-size: 12px;
  }
}

@media screen and (max-width: 750px){
  .compoSP-externalDiv{
    width: 90%;
  }

  .compoSP-principalTitle{
    font-size: 0.8em;
  }

  .compoSP-buttonAndamento{
    height: 24px;
    font-size: 8px;
  }

  .compoSP-buttonFinalizado{
    height: 24px;
    font-size: 8px;
  }
}