@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
$corFundo: #c7d1dc;
$azulPadrao: #1d2d57;
.formsDI_box_title{
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, $azulPadrao,#1037a1);
  margin:2%;
  height: 8%;
}
.formsDI_title{
  color: white;
  margin-left: 1%;
  font-family: Montserrat;
  font-size: 2.0em;
}
.formsDI_box{
  background-color: #ffff;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1600px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}
.formsDI_line_files{
  background-color: #ffff;
  display: flex;
  justify-content: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1%;
}
.formsDI_input{
  display: flex;
  justify-content: center;
  margin: 0 10px;
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
}
.formsDI_input_file{
  margin-right: 5%;
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
}
.formsDI_TextInputDiv{
  display: flex;
  justify-content: center;
}
.formsDI_TextInput{
  width: 85%;
}
.formsDI_divButton {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 20px;
  button {
    height: 3rem;
    width: 30%;
    border: 0;
    border-radius: 7px;
    background-color: $azulPadrao;
    color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
    text-shadow: 0em 0.05em 0.05em #000;
    box-shadow: 1px 1px 3px #000;
    margin-bottom: 3rem;
  cursor: pointer;
}
}
.formsDI_title{
  color: white;
  margin-left: 1%;
  font-family: Montserrat;
  font-size: 2.0em;
}
.formsDI_upload_text {
  margin-bottom: 10px;
}

@media screen and (max-width: 1250px) {
.formsDI_line_files{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formsDI_box_title{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, $azulPadrao,#1037a1);
  margin-top: 2%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  height: 7%;
}
.formsDI_input_file {
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 0;
}
.formsDI_divButton {
  display: flex;
  justify-content: center;
  margin-top: 6.5%;
  margin-bottom: 20px;
  button {
    height: 3rem;
    width: 40%;
    border: 0;
    border-radius: 7px;
    background-color: $azulPadrao;
    color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
    text-shadow: 0em 0.3em 0.3em #000;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 3rem;
  cursor: pointer;
}
}
}