.dropzone{
  border: 1px dashed #ddd;
  border-radius: 4px;
  cursor: pointer;
  transition: height 0.2s ease;
  width: 16rem;
}
.dragActive {
  border-color: #78e5d5;
}
.dragReject {
  border-color: #e57878;
}
.uploadMessage {
  display: flex;
  color: #999;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}
.error {
  color: #e57878;
}
.sucess {
  color: #78e5d5;
}

.fileInfo {
  margin-top: 10px;
}
.fileInfoLink {
  display: flex;
  align-items: center;
}