.pdf-external-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5%;
  }
  .pdf-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:75%;
    height: 20vh;

    .pdf-image {
        max-width: 50%;
        justify-content: center;
        img {
            width: 18vw;
            height: 12vh;
        }
    }
    .pdf-header-text {
        width: 50%;
        p {
            text-align: center;
            font-weight: bold;
        }

        @media (max-width: 450px){
            margin-top: auto;
            margin-bottom: auto;
        }
    }
  }
  .pdf-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 5%;
    margin-top: 8%;

    .pdf-title {
        text-align: center;
        font-weight: bold;
        font-size: 2em;
    }
    .pdf-dedicate {
        width: 70%;
        margin: 4%;
        text-align: justify;
        font-size: 1.3em;
        text-indent: 4em;
    }
    .pdf-date {
        text-align: center;
        font-size: 1.3em;
        margin: 2%;
    }
    .pdf-coordinator {
        margin-top: 5%;
        p{
            text-align: center;
            font-size: 1.3em;
            margin-bottom: 0.5%;
        }
    }
    .pdf-observation {
        margin-top: 4%;
        margin-bottom: 4%;
        width: 55%;
        text-align: center;
        font-weight: bold;
        font-size: 1.3em;
    }
  }
  .print-button {
    cursor: pointer;
    background: linear-gradient(45deg, #04133a, #092161, #04133a);

    .print-button-text {
        display: flex;
        align-items: center;
        color: white;
        padding: 1% 2%;

        .print-icon {
            margin: 0 5px 0 5px;
        }
    }
  }

