@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, #04133a, #092161, #04133a);
  color: white;
  font-size: 14px;
  font-family: Montserrat;
}
.divLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}
.logoHeader {
  height: 60px;
  width: 60px;
  margin-right: 2vw;
}
.titleHeader {
  font-family: Montserrat;
  font-size: 20px;
  width: 100%;

  @media (max-width: 450px) {
    font-size: 15px;
  }
}
.buttonExpandIcon {
  border-radius: 35px;
}
.menuIcon {
 margin: 15px;
 font-size: 40px;
 color: white;
}
.menuIcon:hover {
  cursor: pointer
 }

 .doubtIcon{
   font-size: 30px;

   @media (max-width: 680px) {
    font-size: 25px;
  }

   @media (max-width: 450px) {
    font-size: 15px;
  }
 }
