@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.containerHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(45deg, #04133a, #092161, #04133a);
  color: white;
  font-size: 14px;
  font-family: Montserrat;

  .headerActions span{
    cursor: pointer;
  }
}
.divLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  padding: 15px;
}
.logoHeader {
  height: 60px;
  width: 60px;
  margin-right: 2vw;
  @media screen and (max-width: 450px) {
    height: 35px;
    width: 35px;
  }
}
.titleHeader {
  font-family: Montserrat;
  font-size: 20px;
  width: 100%;
  @media screen and (max-width: 450px) {
    font-size: 10px;
  }
}
.buttonExpandIcon {
  border-radius: 35px;
}
.menuIcon {
 margin: 15px;
 font-size: 30px;
 color: white;
}
.menuIcon:hover {
  cursor: pointer
 }
