.professorMenu {
  height: 100%;
}
.professorTitle {
  height: 20%;
  font-size: 42px;
  font-family: 'calibri';
  display: flex;
  align-items: center;
  padding-left: 90px;
}
.professorBox {
  margin: 0px 50px 0px 50px;
  height: 470px;
  border: 1px solid #C4C4C4;
  border-radius: 8px;
  box-shadow: 0px 3px 5px 0px #C4C4C4;
  overflow: hidden;
}
.profBoxTitle {
  height: 20%;
  background: #C4C4C4;
  border-radius: 5px 5px 0px 0px;
  font-size: 35px;
  font-family: 'calibri';
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.divGrid {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 370px;
}
.listItem {
  display: flex;
  align-items: center;
}
.divItem {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-family: 'calibri';
  width: 28%;
}
.divButtons {
  display: flex;
  align-items: center;
  width: 39%;
  justify-content: space-around;
}
.confirmButton {
  background: green!important;
  color: white!important;
}
.denyButton {
  background: red!important;
  color: white!important;
}
.linkButton {
  color: black;
  width: 33%;
  display: flex;
  justify-content: center;
  font-family: calibri;
}
.pagination {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 20px
}
.icon {
  margin-right: 15px
}