$azulPadrao: #1d2d57;

.screen-ps-registerDis {
  background-color: #ffff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  .title_registerDiscipline {
    text-align: center;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    color: $azulPadrao;
    font-weight: 500;
    font-size: 3.5em;
  }
}
.form_dis_cad_box_title{
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, $azulPadrao, #1037a1);
  margin: 2%;
  height: 7%;
  margin-bottom: 5%;
}
.form_dis_cad_title {
  color: white;
  margin-left: 1%;
  font-family: Montserrat;
  font-size: 2em;
}
.form_dis_cad_box{
  display: flex;
  justify-content: center;
  width: 100%;
}
.form_dis_cad_line{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  min-height: 710px;
  align-items: center;
  border-radius: 12px;

}
.MuiInputBase-root {
  background-color: white;
}
.input-content{
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
}
.divButton-cad{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  width: 80%;
  button {
    height: 3rem;
    width: 35%;
    min-width: 350px;
    border: 0;
    border-radius: 7px;
    background-color: $azulPadrao;
    color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
    box-shadow: 1px 1px 5px #000;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .divButton-cad{
    button {
      min-width: 340px;
    }
  }
}