body {
  margin: 0px;
}
.SP-externalDiv {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;

}
.SP-screen{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
  background-color: white;
}
.SP-title{
  display:flex;
  justify-content: center;
  font-family: montserrat;
  font-size: 4.2em;
  color: #061744;
}
.subTitle-line{
  background-color:#061744;
  height: 3px;
}
.SP-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  margin-top: 5%;
  .SP-subtitle{
    display: flex;
    font-family: montserrat;
    font-size: 2.4em;
    align-items: center;
  }
  .SP-filterBox{
    width: 50%;
  }
}

.SP-box{
  display: flex;
  flex-direction: column;
  height: 70%;
  box-shadow: 1px 1px 2px #000;
  .SP-topBar{
    display: flex;
    align-items: center;
    font-family: montserrat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    justify-content: center;
    height: 20%;
    min-height: 100px;
    max-height: 180px;
    background-color: #061744;
    border-bottom: 10px;
    .SP-barTitle{
      font-size: 3em;
      color: white;
    }
  }
  .SP-bottomBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    height: 100%;
    background-color: #F1F1F1;
    overflow-y: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}

@media screen and (max-width: 1500px){
  .SP-title{
    font-size: 4em;
  }

  .SP-filter{
    .SP-subtitle{
    font-size: 2.5em;
    }
  }

  .SP-box{
    .SP-topBar{
      max-height: 100px;
      min-height: 60px;
      .SP-barTitle{
        font-size: 2.5em;
      }
    }
  }
}

@media screen and (max-width: 1000px){
  .SP-title{
    font-size: 3em;
  }

  .SP-filter{
    .SP-subtitle{
    font-size: 2em;
    }
  }

  .SP-box{
    .SP-topBar{
      max-height: 90px;
      min-height: 50px;
      .SP-barTitle{
        font-size: 2em;
      }
    }
  }
}

@media screen and (max-width: 750px){
  .SP-title{
    font-size: 2.0em;
  }

  .SP-filter{
    align-items: center;
    justify-content: space-between;
    .SP-subtitle{
    font-size: 1.3em;
    margin-bottom: 3%;
    }
    .SP-filterBox{
      width: 50%;
    }
  }

  .SP-box{
    .SP-topBar{
      max-height: 60px;
      min-height: 30px;
      .SP-barTitle{
        font-size: 1em;
      }
    }
  }
}

@media screen and (max-width: 450px){
  .SP-filter{
    flex-direction: column;
    .SP-subtitle{
    font-size: 1.3em;
    margin-bottom: 3%;
    }
    .SP-filterBox{
      width: 75%;
    }
  }
}