body {
  margin: 0px;
}
.SP-externalDiv {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding-left: 0;
}
.SP-screen{
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 5%;
}
.SP-title{
  display:flex;
  justify-content: center;
  font-family: montserrat;
  font-size: 3em;
  margin: 1%;
}
.SP-filter{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  margin-top: 5%;
  .SP-subtitle{
  font-family: montserrat;
  font-size: 2em;
  }
}
.SP-box{
  display: flex;
  flex-direction: column;
  height: 70vh;
  border-radius: 5px;
  box-shadow: 1px 1px 2px #000;
  .SP-topBar{
    display: flex;
    align-items: center;
    font-family: montserrat;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
     justify-content: center;
    height: 20%;
    background-color: #ccc;
    border-bottom: 10px;
    .SP-barTitle{
      font-size: 2em;
    }
  }
  .SP-bottomBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    height: 100%;
    background-color: #F1F1F1;
    overflow-y: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
}
@media screen and (max-width: 1000px) {
  .SP-title{
    font-size: 2.3em;
  }
  .SP-bottomBar{
      justify-content: center;
  }
  .SP-filter{
    display: flex;
    flex-direction: column;
    .SP-subtitle{
      display: flex;
      justify-content: center;
      font-size: 1.7em;
    }
    .SP-filterBox{
      margin-top: 5%;
      display: flex;
      justify-content: center;
    }
  }
}
@media (max-width: 450px) {
  .SP-barTitle{
    font-size: 1.5em !important;
  }
}