.professor-list-container{
    width: 100%;
    margin: 1em;
    h1{
        color: #1F487C;
        font-size: 2.5em;
    }
}

.professor-list-content{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.professor-list-item{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.professor-list-desc{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MuiAccordionSummary-expandIcon{
    color: #1F487C;
}

