.box-containerProfList {
    width: 100%;
    @media (max-width: 650px) {
        display: grid;
    }
}

.grid-containerProfList{
   height: 100%;
}

.professor-list-container {
    width: 75%;
    margin: 1em;
    justify-content: center;
    margin-left: 12.5%;
    align-items: center;
    h1 {
        color: #1f487c;
        font-size: 2.5em;
    }
}

.professor-list-container-border-bottom {
    border-bottom: 1.5px solid #7a7a7a;
    margin-top: 25px;
}

.professor-list-texts {
    margin-top: 30px;

    p {
        color: #7a7a7a;
        font-size: 16px;
        font-weight: 300;
        font-family: "Montserrat", sans-serif;
        line-height: 1.5;
    }
}

.professor-list-first-text {
    margin-bottom: 20px;
}

.header-content_ProfList {    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 40px;

    @media (max-width: 650px) {
        flex-direction: column;
        justify-content: center;
    }
}

.header-content-title_ProfList {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #000;
}

.header-content-searchInput {
    border: 1px solid #000;
    border-radius: 5px;
    width: 40%;
    padding-left: 20px;
    box-shadow: 1px 1px 1px black;

    @media (max-width: 650px) {
        width: 50%;
        min-width: 235px;
        margin-top: 15px;
    }
}

.header-content-searchby {
    color: #7a7a7a;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: "Montserrat", sans-serif;
}

.professor-list-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.accordionHeadeBox {
    width: 100%;
}

.accordingMainTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.accordionBorderBottom {
    border-bottom: 1.5px solid #7a7a7a;
    margin-top: 25px;
    width: 100%;
}

.professor-list-item {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.accordingSecondaryTitle {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.professor-list-desc {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.spanDisciplinasProfList {
    display: flex;
    flex-direction: row;
}

.professor-list-desc-item {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    p {
        font-size: 15px;
        font-weight: 700;
        color: #7a7a7a;
    }
    span {
        font-size: 15px;
        font-weight: 400;
        color: #7a7a7a;
        margin-left: 5px;
    }
    @media (max-width: 580px) {
        flex-direction: column;
        p {
            display: flex;
            justify-content: center;
        }
        span {
            display: flex;
            justify-content: center;
            margin-left: 0;
            margin-top: 5px;
        }
        a {
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }
    }
    @media (max-width: 450px) {
        p {
            font-size: 13px;
        }
        span {
            font-size: 10px;
        }
    }
}

.professor-list-desc-itemDisciplinas {
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;

    p {
        font-size: 15px;
        font-weight: 700;
        color: #7a7a7a;
    }
    span {
        font-size: 15px;
        font-weight: 400;
        color: #7a7a7a;
        margin-left: 5px;
    }
    @media (max-width: 580px) {
        flex-direction: column;
        .professor-list-desc-itemDisciplinasInside{
            margin-top: 5px;
        }
        p {
            display: flex;
            justify-content: center;
        }
        span {
            display: flex;
            justify-content: center;
        }
    }
    @media (max-width: 450px) {
        p {
            font-size: 13px;
        }
        span {
            font-size: 10px;
        }
    }
}

.MuiAccordionSummary-expandIcon {
    color: #1f487c;
}
