@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.footer {
  background: linear-gradient(45deg, #04133a, #092161, #04133a);
  bottom: 0;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.image {
  width: 120px;
  padding: 10px;
}
.imageC {
  width: 108px;
}
.text {
  color: white;
  font: normal 10pt Montserrat;
  size: 14pt;
  align-items: center;
}
