@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
.footer {
  background-color: #1d2d57;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.imagem {
  width: 120px;
  padding: 10px;
}
.imagemC {
  padding-left: 60px;
  transform: translateY(-7px);
  width: 80px;
  padding: 10px;
  align-items: flex-end;
}
.text {
  color: white;
  font: normal 10pt Montserrat;
  size: 14pt;
  align-items: center;
}
