.modal{
  position: fixed;
  top: 0;
  bottom:0;
  right:0;
  left: 0;
  background: rgba(0,0,0,0.2);
  z-index: 99;
  .container{
    position: fixed;
    max-width: 400px;
    top: 15%;
    left:0;
    right: 0;
    margin: 0 auto;
    padding:  4em 2rem;
    background-color: #FFF;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
  }
  h2{
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    font-size: 1.6em;
    color: #121212;
  }
  p{
    white-space: pre-wrap;
  }
}
.close{
  background-color: #000;
  border: 0;
  color: #FFF;
  position: absolute;
  top:15px;
  left:15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 15px;
  border-radius: 5px;
  .svg{
    margin-right: 5px;
  }
}
.row{
  margin-bottom: 1em;
}
.DM-button{
  display: flex;
  justify-content: center;
  margin-top: 15%;
  button{
    background-color: #04064B;
    height: 7vh;
    width: 15vw;
    border: 0;
    color: #ffffff;
    border-radius: 0.9em;
    text-shadow: 0.1em 0.13em 0.13em #000;
    box-shadow: 0.2em 0.2em 0.5em #000;
    font-size: clamp(1vw, 1em, 2vw);
  cursor: pointer;
  }
}
