.TC-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.TC-title{
  font-family: Montserrat;
  font-size: 2.0em;
  margin:4%;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.TC-button-aprovar{
  background-color: #04064B;
  height: 7vh;
  width: 15vw;
  border: 0;
  color: #ffffff;
  border-radius: 0.9em;
  text-shadow: 0.1em 0.13em 0.13em #000;
  box-shadow: 0.2em 0.2em 0.5em #000;
  font-size: clamp(1vw, 1em, 2vw);
  cursor: pointer;
}
.TC-button-solicitar{
    padding: 1%;
    margin-top: 2%;
    background-color: white;
    height: 7vh;
    width: 15vw;
    border: 0;
    color: #04064B;
    font-weight: 600;
    border-radius: 0.9em;
    box-shadow: 0.2em 0.2em 0.5em #000;
    font-size: clamp(1vw, 1em, 1.5vw);
    cursor: pointer;
}
@media screen and (max-width: 850px) {
  .TC-title{
    margin:0;
    margin-bottom: 8%;
  }
  .TC-button-aprovar{
    height: clamp(10px, 8vh, 30em);
    padding-left: 5%;
    padding-right: 5%;
    width: clamp(10px, 40vw, 15em);
    font-size: clamp(10px, 1em, 15px);
  }
  .TC-button-solicitar{
    height: clamp(10px, 8vh, 30em);
    padding-left: 5%;
    padding-right: 5%;
    width: clamp(10px, 40vw, 15em);
    font-size: clamp(10px, 1em, 15px);
  }
}
@media screen and (max-width: 330px) {
  .TC-title{
    font-size: 1.7em;
  }
}