@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.userPanelHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.userPanelInfos {
  margin-left: 16px;
  font-family: Montserrat;
}
.hide {
  display: flex;
}
.userPanelText {
  font-family: Montserrat;
}
.mail {
  font-size: 12px;
}
.divNavbar {
  display: flex;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 1px 0px 4px 0px rgb(0 0 0 / 75%);
  width: auto;
}
.retract {
  display: none;
}

.MuiList-root.MuiList-padding{
  display: flex;
  flex-direction: column;
  width: min-content
  
}


@media (max-width: 680px){
  .divNavbar{
    flex-direction: row;
    width: 100%;
    height: min-content;
    background-repeat: no-repeat;
    background-position:top;
    z-index: 1000;
    transform: translateX(-100%);
    background-color: white;
    height: 100%;
    display: none;
  }

  .MuiList-root.MuiList-padding{
    display: flex;
    width: 100%;
    height: min-content;
  }

  .retract{
    display: block;
  }

}