@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.userPanelHeader {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}
.userPanelText {
  font-family: Montserrat;
}
.mail {
  font-size: 12px;
}