.DC-title{
  font-family: Montserrat;
  font-size: 2.0em;
  margin:4%;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.DC-documentsDiv{
  display: flex;
  height: 30vh;
  width: 100%;
  margin: 0;
  align-items: center;
  padding: 15px;
  align-content: center;
  flex-direction: column;
  overflow: auto;
  border-radius: 5px;
}
.DC-infoContainer {
  margin-bottom: 20px;
}
.DC-personNameTitle{
  font-size: 1.5em;
  display: flex;
  justify-content: center;
}
.DC-documentsDivLine{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.DC-buttons{
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}
.DC-button-aprovar{
  button{
    background-color: #04064B;
    height: 7vh;
    width: 15vw;
    border: 0;
    color: #ffffff;
    border-radius: 10px;
    text-shadow: 0.1em 0.13em 0.13em #000;
    box-shadow: 0.2em 0.2em 0.5em #000;
    font-size: clamp(1vw, 1em, 2vw);
  cursor: pointer;
  }
}
.DC-button-solicitar{
  button{
    padding: 1%;
    background-color: #FFFFFF;
    height: 7vh;
    width: 15vw;
    border: 0;
    color: #04064B;
    font-weight: 600;
    border-radius: 10px;
    box-shadow: 0.2em 0.2em 0.5em #000;
    font-size: clamp(1vw, 1em, 1.5vw);
    cursor: pointer;
  }
}

.DC-result{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    font-family: Montserrat;
    font-size: 1.0em;
  }
  button:nth-child(1) > p:nth-child(1) {
    font-size: 13px;
   }
  .DC-buttons{
    margin-top: 0.5%;
    justify-content: center;
    .DC-button-aprovar{
      margin-right: 5%;
    }
    .DC-button-solicitar{
      margin-right: 5%;
    }
  }
}
@media screen and (max-width: 850px) {
  .DC-title{
    margin:0;
    margin-bottom: 8%;
  }
  .DC-personNameTitle{
    margin: 0;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }
  .DC-documentsDiv{
    height: 30vh;
    width: 100%;
    margin: 0;
    align-items: center;
    padding: 15px;
    align-content: center;

    .DC-documentsDivLine{
      display: flex;
      flex-direction: column;
    }
  }
  .DC-buttons{
    margin-top: 10%;
    .DC-button-aprovar{
      button{
        height: clamp(10px, 8vh, 30em);
        padding-left: 5%;
        padding-right: 5%;
        width: clamp(10px, 40vw, 15em);
        font-size: clamp(10px, 1em, 15px);
    }
    }
    .DC-button-solicitar{
      button{
        height: clamp(10px, 8vh, 30em);
        padding-left: 5%;
        padding-right: 5%;
        width: clamp(10px, 40vw, 15em);
        font-size: clamp(10px, 1em, 15px);
      }
    }
  }
}
@media screen and (max-width: 330px) {
  .DC-title{
    font-size: 1.7em;
  }
  .DC-result{
    p{
      font-size: 1.7em;
    }
  }
}