$azulPadrao: #1d2d57;
.Login-button1 {
    display: flex;
    justify-content: center;
    margin-top: 5em;
    margin-bottom: 20px;
    button {
      height: 3rem;
      width: 30%;
      border: 0;
      border-radius: 7px;
      background-color: $azulPadrao;
      color: #ffffff;
      border-radius: 5px;
      font-size: 25px;
      text-shadow: 0em 0.05em 0.05em #000;
      box-shadow: 1px 1px 3px #000;
      margin-bottom: 3rem;
    cursor: pointer;
  }
}

.screen-ps{
  width: 100%;
  height: 100%;
}

.atualizationContent {
  display: flex;
  justify-content: space-between;
}

.campsContent{
  padding: 50px;
  width: 100%;
}

@media (max-width: 450px){
  .Login-button1 {
    button {
      font-size: small;
  }
}
  .titleEdit{
    h1{
      font-size: 25pt;
    }
  }

  .campsContent{
    padding: 0;
  }
}