$corFundo: #c7d1dc;
$azulPadrao: #1d2d57;
body {
  margin: 0px;
}
.screen-ps {
  background-color: #ffff;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  h1 {
    text-align: center;
    margin-bottom: 0.4em;
    margin-top: 0.5em;
    color: $azulPadrao;
    font-weight: 500;
    font-size: 3.5em;
  }
}
.form_dis_prof_box_title {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, $azulPadrao, #1037a1);
  margin: 2%;
  height: 7%;
  margin-bottom: 3%;
}
.form_dis_prof_title {
  color: white;
  margin-left: 1%;
  font-family: Montserrat;
  font-size: 2em;
}
.form_dis_prof_line {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.form_dis_prof_input {
  margin-right: 2%;
  margin-left: 2%;
}

.divButton-psprof {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  margin-top: 35px;
  margin-bottom: 20px;
  width: 100%;
  button {
    height: 3rem;
    width: 37%;
    border: 0;
    border-radius: 7px;
    background-color: $azulPadrao;
    color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
    text-shadow: 0em 0.3em 0.3em #000;
    box-shadow: 1px 1px 5px #000;
    margin-bottom: 3rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1000px) {
  .form_dis_prof_line {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
  }
  .form_dis_prof_box_title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, $azulPadrao, #1037a1);
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    height: 7%;
  }
  .form_dis_prof_input {
    display: flex;
    justify-content: center;
  }
  .divButton-psprof {
    display: flex;
    justify-content: center;
    margin-top: 0.2em;
    margin-bottom: 20px;
    button {
      height: 3rem;
      width: 62%;
      min-width: 310px;
      border: 0;
      border-radius: 7px;
      margin-top: 15px;
      background-color: $azulPadrao;
      color: #ffffff;
      border-radius: 5px;
      font-size: 1.3rem;
      text-shadow: 0em 0.3em 0.3em #000;
      box-shadow: 1px 1px 5px #000;
      margin-bottom: 3rem;
      cursor: pointer;
    }
  }
}
