.doubtRoot {
  width: 100%;
  height: 100%;

  .studentDoubt {
    .doubtTitle {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 2rem 0;
      padding: 0 2rem;

      h1 {
        color: black;
      }
      a {
        display: flex;
        align-items: center;

        button {
          position: absolute;
          right: 2rem;
          color: #1037a1;
        }
      }
    }
    .messageRow {
      border: none;
      background-color: transparent;
      width: 100%;

      .MuiListItemText-secondary {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      svg:hover {
        color: #1037a1;
      }
      &:hover {
        background-color: #f7f8fa;
        cursor: pointer;
      }
    }
  }
}
#scroll-dialog-title h2 {
  color: black;
}
