@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
$corFundo: #c7d1dc;
$azulPadrao: #1d2d57;
.forms_box_title {
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, $azulPadrao, #1037a1);
  margin: 2%;
  height: 8%;
}
.forms_title {
  color: white;
  margin-left: 1%;
  text-align: center;
  font-family: Montserrat;
  font-size: 2em;
}
.forms_box {
  background-color: #ffff;
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  max-width: 1600px;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}
.forms_line_files {
  background-color: #ffff;
  display: flex;
  justify-content: center;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 1%;
}
.forms_input {
  display: flex;
  justify-content: center;
  width: 22rem;
  margin: 0 10px;
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
}
.forms_input_file {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  margin: 15px 10px;
  text-align: center;
  font-weight: 600;
  font-family: Montserrat;
  font-size: large;
}
.forms_divButton {
  display: flex;
  justify-content: center;
  margin-top: 5em;
  margin-bottom: 20px;
  button {
    height: 3rem;
    width: 30%;
    border: 0;
    border-radius: 7px;
    background-color: $azulPadrao;
    color: #ffffff;
    border-radius: 5px;
    font-size: 25px;
    text-shadow: 0em 0.05em 0.05em #000;
    box-shadow: 1px 1px 3px #000;
    margin-bottom: 3rem;
    cursor: pointer;
  }
}
.forms_title {
  color: white;
  display: flex;
  flex-direction: row;
  margin-left: 1%;
  font-family: Montserrat;
  font-size: 2em;

  p:nth-child(1) {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-left: 5px;
   }
}
.forms_upload_text {
  font-size: 14px;
  margin-bottom: 10px;
}

.Loader-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;

  p {
    font-size: 20pt;
    font-family: Montserrat;
  }
}
@media screen and (max-width: 1250px) {
  .forms_line_files {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .forms_box_title {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right, $azulPadrao, #1037a1);
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
    height: 7%;
  }
  .forms_input {
    margin-right: 0;
  }
  .forms_input_file {
    margin-top: 0px;
    margin-bottom: 20px;
    margin-right: 0px;
  }
  .forms_divButton {
    display: flex;
    justify-content: center;
    margin-top: 6.5%;
    margin-bottom: 20px;
    button {
      height: 3rem;
      width: 40%;
      border: 0;
      border-radius: 7px;
      background-color: $azulPadrao;
      color: #ffffff;
      border-radius: 5px;
      font-size: 25px;
      text-shadow: 0em 0.3em 0.3em #000;
      box-shadow: 1px 1px 5px #000;
      margin-bottom: 3rem;
      cursor: pointer;
    }
  }
}